flows/Business_Approval_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Store_UserStory_ID</name>
        <label>Store UserStory ID</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>USID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_promoted_user_stories.copado__User_Story__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_promoted_user_stories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Business_Approval</name>
        <label>Check Business Approval</label>
        <locationX>352</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Get_Automations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UserStories.Business_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_UserStory_ID</targetReference>
            </connector>
            <label>If Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Business Approval Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Approval Automation</label>
    <loops>
        <name>loop_over_promoted_user_stories</name>
        <label>loop over promoted user stories</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Promoted_UserStories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_UserStory_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_UserStory_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_UserStory_ID</name>
        <label>Loop over UserStory ID</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <collectionReference>USID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_UserStories</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Get_Automations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Automations</name>
        <label>Copy 1 of Get Automations</label>
        <locationX>176</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Steps_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Approval Automation</stringValue>
            </value>
        </filters>
        <object>copado__Quality_Gate__c</object>
        <outputAssignments>
            <assignToReference>AutoName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Automations</name>
        <label>Get Automations</label>
        <locationX>440</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Steps_Business_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Approval Automation</stringValue>
            </value>
        </filters>
        <object>copado__Quality_Gate__c</object>
        <outputAssignments>
            <assignToReference>AutoName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Deployment</name>
        <label>Get Deployment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Promoted_UserStories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeploymentID</elementReference>
            </value>
        </filters>
        <object>copado__Deployment__c</object>
        <outputAssignments>
            <assignToReference>PromotionID</assignToReference>
            <field>copado__Promotion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Promoted_UserStories</name>
        <label>Get Promoted UserStories</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_promoted_user_stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PromotionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Steps</name>
        <label>Get Steps</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deployment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>copado__Step__c</object>
        <outputAssignments>
            <assignToReference>DeploymentID</assignToReference>
            <field>copado__Deployment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Steps_Business</name>
        <label>Get Steps- Business</label>
        <locationX>176</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_update_Deployment_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Deployment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeploymentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Automated_Behaviour__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AutoName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Steps_Business_Approval</name>
        <label>Get Steps-Business Approval</label>
        <locationX>440</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Deployment_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Deployment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeploymentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Automated_Behaviour__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AutoName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UserStories</name>
        <label>Get UserStories</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Business_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_UserStory_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_Deployment_Job</name>
        <label>Copy 1 of update Deployment Job</label>
        <locationX>176</locationX>
        <locationY>2087</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Steps_Business.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Deployment_Job</name>
        <label>update Deployment Job</label>
        <locationX>440</locationX>
        <locationY>1487</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Steps_Business_Approval.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual Approval</stringValue>
            </value>
        </filters>
        <object>copado__Step__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AutoName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeploymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PromotionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>USID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
