flows/ContractEndDate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_an_Email_before_30_Days</name>
        <label>Send an Email before 30 Days</label>
        <locationX>792</locationX>
        <locationY>792</locationY>
        <actionName>Contract.To_send_an_email_regarding_contract_expiration</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_for_Each_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Check_for_Each_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.To_send_an_email_regarding_contract_expiration</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_an_Email_before_60_Days</name>
        <label>Send an Email before 60 Days</label>
        <locationX>528</locationX>
        <locationY>684</locationY>
        <actionName>Contract.To_send_an_email_regarding_contract_expiration</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_for_Each_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Check_for_Each_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.To_send_an_email_regarding_contract_expiration</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_an_Email_before_90_Days</name>
        <label>Send an Email before 90 Days</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <actionName>Contract.To_send_an_email_regarding_contract_expiration</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_for_Each_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Check_for_Each_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.To_send_an_email_regarding_contract_expiration</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_for_30_Days</name>
        <label>Check for 30 Days</label>
        <locationX>924</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Check_for_Each_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Each_Record.Expire_30_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for30days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_an_Email_before_30_Days</targetReference>
            </connector>
            <label>For 30 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_60_Days</name>
        <label>Check for 60 Days</label>
        <locationX>726</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Check_for_30_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Each_Record.Expire_60_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for60days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_an_Email_before_60_Days</targetReference>
            </connector>
            <label>For 60 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_90_Days</name>
        <label>Check for 90 Days</label>
        <locationX>495</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Check_for_60_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_90_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Each_Record.Expire_90_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for90days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_an_Email_before_90_Days</targetReference>
            </connector>
            <label>For 90 days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for30days</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>for60days</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>for90days</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>ContractEndDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContractEndDateTest1</label>
    <loops>
        <name>Check_for_Each_Record</name>
        <label>Check for Each Record</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Contracts_About_to_Expire_within_90_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_90_Days</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contracts_About_to_Expire_within_90_Days</name>
        <label>Get Contracts About to Expire within 90 Days</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Each_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expire_90_Days__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>for90days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Expire_90_Days__c</queriedFields>
        <queriedFields>Expire_60_Days__c</queriedFields>
        <queriedFields>Expire_30_Days__c</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contracts_About_to_Expire_within_90_Days</targetReference>
        </connector>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-11</startDate>
            <startTime>22:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
