flows/Email_to_Dev_Victoria.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Message_On_Chatter</name>
        <label>Message On Chatter</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_Email_to_Developer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MessageOnChatterBox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Developer</name>
        <label>Send Email to Developer</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.copado__Developer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.copado__User_Story_Title__c} is Successfully Deployed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToDev</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>If_Credential_Changed</name>
        <label>If Credential Changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Credential is not Changed</defaultConnectorLabel>
        <rules>
            <name>Credential_is_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_On_Chatter</targetReference>
            </connector>
            <label>Credential is Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email to Dev Victoria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Dev Victoria</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Credential_Changed</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailToDev</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.copado__Developer__r.FirstName} {!$Record.copado__Developer__r.LastName} 
Your Copado User story {!$Record.Name} is deployed to {!$Record.copado__Org_Credential__r.Name} Environment.</text>
    </textTemplates>
    <textTemplates>
        <name>MessageOnChatterBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.copado__Developer__r.FirstName} {!$Record.copado__Developer__r.LastName} 
Your Copado User story {!$Record.Name} is deployed to {!$Record.copado__Org_Credential__r.Name} Environment.</text>
    </textTemplates>
    <textTemplates>
        <name>RichTextEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;{!$Record.copado__Developer__r.FirstName} {!$Record.copado__Developer__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Your Copado User story $ {!$Record.Name} is deployed to {!$Record.copado__Org_Credential__r.Name} Environment.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
