flows/Email_to_Dev_Victoria_2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Message_on_Chatter_for_BackSync</name>
        <label>Message on Chatter for BackSync</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_Email_to_Developer_for_Back_Sync</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MessageOnChatterBoxForBackPromotion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>looping_through_promoted_user_stories.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Message_on_Chatter_for_Deployment</name>
        <label>Message on Chatter for Deployment</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_Email_to_Developer_for_Deployment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MessageOnChatterBoxForDeployment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>looping_through_promoted_user_stories.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Developer_for_Back_Sync</name>
        <label>Send Email to Developer for Back Sync</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>looping_through_promoted_user_stories</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!looping_through_promoted_user_stories.copado__User_Story__r.copado__Parent_Epic_Title__c} is Successfully Deployed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToDevForBackSync</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Developer_for_Deployment</name>
        <label>Send Email to Developer for Deployment</label>
        <locationX>528</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>looping_through_promoted_user_stories</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!looping_through_promoted_user_stories.copado__User_Story__r.copado__User_Story_Title__c} is Successfully Deployed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToDevForDeployment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Back_or_Forward_Promoted</name>
        <label>Is Back or Forward Promoted</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>looping_through_promoted_user_stories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_Promoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Back_Promotion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_on_Chatter_for_BackSync</targetReference>
            </connector>
            <label>Back Promoted</label>
        </rules>
        <rules>
            <name>Forward_Promoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Back_Promotion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_on_Chatter_for_Deployment</targetReference>
            </connector>
            <label>Forward Promoted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Developer_Field_Populated</name>
        <label>Is Developer Field Populated?</label>
        <locationX>748</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>looping_through_promoted_user_stories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Back_or_Forward_Promoted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email to Dev Victoria #2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Dev Victoria #2</label>
    <loops>
        <name>looping_through_promoted_user_stories</name>
        <label>looping through promoted user stories</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Promoted_User_Stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Developer_Field_Populated</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Promoted_User_Stories</name>
        <label>Get Promoted User Stories</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_through_promoted_user_stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Promoted_User_Stories</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailToDevForBackSync</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.FirstName} {!looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.LastName},

Your Copado user story {!looping_through_promoted_user_stories.copado__User_Story__r.Name} has been &quot;Back Promoted&quot; to
{!looping_through_promoted_user_stories.copado__Promotion__r.copado__Destination_Org_Credential__r.Name}  

Greetings from DevOps!</text>
    </textTemplates>
    <textTemplates>
        <name>EmailToDevForDeployment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi Hi {!looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.FirstName} {!looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.LastName},

Your Copado user story {!looping_through_promoted_user_stories.copado__User_Story__r.Name} has been deployed to
{!looping_through_promoted_user_stories.copado__Promotion__r.copado__Destination_Org_Credential__r.Name}  

Greetings from DevOps!</text>
    </textTemplates>
    <textTemplates>
        <name>MessageOnChatterBoxForBackPromotion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.Id}]

Your Copado user story {!looping_through_promoted_user_stories.copado__User_Story__r.Name} has been &quot;Back Promoted&quot; to
{!looping_through_promoted_user_stories.copado__Promotion__r.copado__Destination_Org_Credential__r.Name}  

Greetings from DevOps!</text>
    </textTemplates>
    <textTemplates>
        <name>MessageOnChatterBoxForDeployment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!looping_through_promoted_user_stories.copado__User_Story__r.copado__Developer__r.Id}]

Your Copado user story {!looping_through_promoted_user_stories.copado__User_Story__r.Name} has been deployed to {!looping_through_promoted_user_stories.copado__Promotion__r.copado__Destination_Org_Credential__r.Name}  

Greetings from DevOps!</text>
    </textTemplates>
</Flow>
