flows/Email_to_developers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>eamil</name>
        <label>eamil</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>copado__User_Story__c.Email_to_Developer_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__User_Story__c.Email_to_Developer_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>email_to_developer</name>
        <label>email to developer</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>email_to_developr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Promotion__r.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eamil</targetReference>
            </connector>
            <label>email to developer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email to developer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to developers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>email_to_developer</targetReference>
        </connector>
        <object>copado__Promoted_User_Story__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
