flows/Flow_2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Message_on_Chatter_for_BackSync</name>
        <label>Message on Chatter for BackSync</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_Email_to_Developer_for_Back_Sync</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MessageOnChatterBoxForBackPromotion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Promoted_User_Story.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Message_on_Chatter_for_Deployment</name>
        <label>Message on Chatter for Deployment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_Email_to_Developer_for_Deployment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MessageOnChatterBoxForDeployment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Promoted_User_Story.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Developer_for_Back_Sync</name>
        <label>Send Email to Developer for Back Sync</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Promoted_User_Story.copado__User_Story__r.copado__Developer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Promoted_User_Story.copado__User_Story__r.copado__User_Story_Title__c} is Successfully Deployed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToDevForBackSync</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Developer_for_Deployment</name>
        <label>Send Email to Developer for Deployment</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Promoted_User_Story.copado__User_Story__r.copado__Developer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Promoted_User_Story.copado__User_Story__r.copado__User_Story_Title__c} is Successfully Deployed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToDevForDeployment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Back_or_Forward_Promoted</name>
        <label>Is Back or Forward Promoted</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_Promoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Back_Promotion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_on_Chatter_for_BackSync</targetReference>
            </connector>
            <label>Back Promoted</label>
        </rules>
        <rules>
            <name>Forward_Promoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Back_Promotion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_on_Chatter_for_Deployment</targetReference>
            </connector>
            <label>Forward Promoted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow #2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow #2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Promoted_User_Story</name>
        <label>Get Promoted User Story</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Back_or_Forward_Promoted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Promoted_User_Story</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailToDevForBackSync</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Get_Promoted_User_Story.copado__User_Story__r.copado__Developer__r.Id}]
Your Copado User story {!Get_Promoted_User_Story.copado__User_Story__r.Name} has been &quot;Back Promoted&quot;  to {!Get_Promoted_User_Story.copado__Promotion__r.copado__Destination_Org_Credential__r.Name} environment.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailToDevForDeployment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Get_Promoted_User_Story.copado__User_Story__r.copado__Developer__r.Id}]
Your Copado User story {!Get_Promoted_User_Story.copado__User_Story__r.Name} has been deployed to {!Get_Promoted_User_Story.copado__Promotion__r.copado__Destination_Org_Credential__r.Name} environment.</text>
    </textTemplates>
    <textTemplates>
        <name>MessageOnChatterBoxForBackPromotion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Get_Promoted_User_Story.copado__User_Story__r.copado__Developer__r.Id}]
Your Copado User story {!Get_Promoted_User_Story.copado__User_Story__r.Name} has been &quot;Back Promoted&quot;  to {!Get_Promoted_User_Story.copado__Promotion__r.copado__Destination_Org_Credential__r.Name} environment.</text>
    </textTemplates>
    <textTemplates>
        <name>MessageOnChatterBoxForDeployment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Get_Promoted_User_Story.copado__User_Story__r.copado__Developer__r.Id}]
Your Copado User story {!Get_Promoted_User_Story.copado__User_Story__r.Name} has been deployed to {!Get_Promoted_User_Story.copado__Promotion__r.copado__Destination_Org_Credential__r.Name} environment.</text>
    </textTemplates>
</Flow>
