flows/Flow_to_calculate_Number_Of_Applicants.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Calculate_Number_of_Applicants</name>
        <label>Calculate Number of Applicants</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>countofapplicants</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_resource_records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Flow to calculate Number Of Applicants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to calculate Number Of Applicants</label>
    <loops>
        <name>Loop_through_resource_records</name>
        <label>Loop through resource records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Resoure_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Number_of_Applicants</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Job_posting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Resoure_Record</name>
        <label>Get Resoure Record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_resource_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Posting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Posting__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Job_posting</name>
        <label>update Job posting</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Posting__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Applicants__c</field>
            <value>
                <elementReference>countofapplicants</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Posting__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resoure_Record</targetReference>
        </connector>
        <object>Resource__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countofapplicants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
