flows/PMD_Check_Requirement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Has_Apex_PMD</name>
        <label>Has Apex PMD</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Commit_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Apex_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Has_Apex_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Has_Apex_False</targetReference>
            </connector>
            <label>Has Apex False</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMD_Scan_Required</name>
        <label>PMD Scan Required</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Latest_PMD_check_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Required PMD Scan</defaultConnectorLabel>
        <rules>
            <name>Make_the_PMD_Scan_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Commit_Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Static_Code_Analysis_Record.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PMD_Check_TRUE</targetReference>
            </connector>
            <label>Make the PMD Scan Required</label>
        </rules>
    </decisions>
    <description>This flow is to update the story if latest PMD check is required</description>
    <interviewLabel>PMD Check Requirement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMD Check Requirement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Commit_Record</name>
        <label>Commit Record</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Static_Code_Analysis_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story_Commit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Static_Code_Analysis_Record</name>
        <label>Static Code Analysis Record</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PMD_Scan_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Static_Code_Analysis_Result__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Latest_PMD_check_False</name>
        <label>Latest PMD check False`</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Latest_PMD_Scan_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Apex_False</name>
        <label>Update Has Apex False</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Highest_Priority_Violation__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_PMD_Scan_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PMD_Check_TRUE</name>
        <label>Update PMD Check TRUE</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Latest_PMD_Scan_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Pull_Requests_Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Apex_PMD</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
