flows/PR_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>462</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pull_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_All_Reviews</name>
        <label>Get All Reviews</label>
        <locationX>792</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>AllReviews</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Reviews</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_UserStory_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_UserStory_ID</name>
        <label>Store UserStory ID</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>USID_S</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Promoted_User_Stories.copado__User_Story__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Promoted_User_Stories</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Store_Reviews</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Store Reviews</label>
        <locationX>176</locationX>
        <locationY>2279</locationY>
        <assignNextValueToReference>currentItem_Store_Reviews</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllReviews</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Store_Reviews.copado__Review_Action__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Steps</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>if_pull_requests_are_zero</name>
        <label>if pull requests are zero</label>
        <locationX>462</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Get_Reviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pull_Request</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Steps_Pull_Request</targetReference>
            </connector>
            <label>if empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Reviews_are_Zero</name>
        <label>if Reviews are Zero</label>
        <locationX>660</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Get_All_Reviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Zero_Reviews</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reviews</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Steps_PR</targetReference>
            </connector>
            <label>If Zero Reviews</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PR Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PR Automation</label>
    <loops>
        <name>Loop_over_Promoted_User_Stories</name>
        <label>Loop over Promoted User Stories</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Promoted_User_Stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_UserStory_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_UserStory_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_UserStory_ID</name>
        <label>Loop Over UserStory ID</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <collectionReference>USID_S</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_Reviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Deployment</name>
        <label>Get Deployment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Promoted_User_Stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deployment_ID</elementReference>
            </value>
        </filters>
        <object>copado__Deployment__c</object>
        <outputAssignments>
            <assignToReference>PromotionID</assignToReference>
            <field>copado__Promotion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Deployment_Steps</name>
        <label>Get Deployment Steps</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deployment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>copado__Step__c</object>
        <outputAssignments>
            <assignToReference>Deployment_ID</assignToReference>
            <field>copado__Deployment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Promoted_User_Stories</name>
        <label>Get Promoted User Stories</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Promoted_User_Stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PromotionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pull_Request</name>
        <label>Get Pull Request</label>
        <locationX>462</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_pull_requests_are_zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_UserStory_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Pull_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reviews</name>
        <label>Get Reviews</label>
        <locationX>660</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_Reviews_are_Zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Pull_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pull_Request.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Pull_Request_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Steps</name>
        <label>Get Steps</label>
        <locationX>176</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Deployment_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deployment_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pull Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Steps_PR</name>
        <label>Get Steps-PR</label>
        <locationX>528</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Deployment_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deployment_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pull Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Steps_Pull_Request</name>
        <label>Get Steps-Pull Request</label>
        <locationX>264</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UPDATE_DJ_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deployment_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pull Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Deployment_Job</name>
        <label>Copy 1 of Update Deployment Job</label>
        <locationX>528</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Update_Promotion_Status_to_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Steps_PR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Promotion_Status_to_Rejected</name>
        <label>Copy 1 of Update Promotion Status to Rejected</label>
        <locationX>264</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PromotionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Promotion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deployment_Job</name>
        <label>Update Deployment Job</label>
        <locationX>176</locationX>
        <locationY>2495</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Steps.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_DJ_PR</name>
        <label>UPDATE DJ-PR</label>
        <locationX>264</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Promotion_Status_to_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Steps_Pull_Request.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Promotion_Status_to_Rejected</name>
        <label>Update Promotion Status to Rejected</label>
        <locationX>528</locationX>
        <locationY>1811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PromotionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Promotion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Deployment_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pull Request</stringValue>
            </value>
        </filters>
        <object>copado__Step__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Pull_Request_Review__c</objectType>
    </variables>
    <variables>
        <name>ApprovedReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Pull_Request_Review__c</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Store_Reviews</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Pull_Request_Review__c</objectType>
    </variables>
    <variables>
        <name>Deployment_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Deployment_Step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PromotionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>USID_S</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
