flows/Sends_notification_once_deployment_is_completed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>452</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ragatishirisha4447@gmail.com, pavani.k@cloudfulcrum.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Deployment Completed Successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_user_story_name_to_variable</name>
        <label>assign user story name to variable</label>
        <locationX>540</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>GetUserStoryName.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!number}.{!get_one_by_one_user_story.Name} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>serial_number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>serial_number</name>
        <label>serial number</label>
        <locationX>540</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetUserStoryName.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>linebreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_one_by_one_user_story</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Credentials</name>
        <label>Checking Credentials</label>
        <locationX>676</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Source_Environment__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRNQA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Destination_Environment__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRNUAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_user_story_records</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>linebreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Sends notification once deployment is completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sends notification once deployment is completed</label>
    <loops>
        <name>get_one_by_one_user_story</name>
        <label>get one by one user story</label>
        <locationX>452</locationX>
        <locationY>623</locationY>
        <collectionReference>get_user_story_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_user_story_name_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>send_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_user_story_records</name>
        <label>get user story records</label>
        <locationX>452</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_one_by_one_user_story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Release__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Destination_Environment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Checking_Credentials</targetReference>
        </connector>
        <object>copado__Promotion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Team,The promotion {!$Record.Name} is deployed successfully with the list of  following stories: 
{!GetUserStoryName.Name}</text>
    </textTemplates>
    <variables>
        <name>GetUserStoryName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tetxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
